{% extends 'base.html' %}

{% block content %}
<h2>Department: {{ department.name }}</h2>

<p><strong>Manager:</strong>
    {% if department.manager %}
      {{ department.manager }}
    {% else %}
      –
    {% endif %}
  </p>
  

<h3 class="mt-4">Sections</h3>
<ul class="list-group mb-4">
  {% for section in department.sections.all %}
    <li class="list-group-item">{{ section.name }}</li>
  {% empty %}
    <li class="list-group-item">No sections yet.</li>
  {% endfor %}
</ul>

<a href="{% url 'department-edit' department.id %}" class="btn btn-primary">Edit</a>
<a href="{% url 'department-index' %}" class="btn btn-secondary">Back</a>
{% endblock %}
